<div class="container">
<h1>{{title}}</h1>
<h2>{{sub_title}}</h2>
<div class="box">
    <img src={{imgurl}} alt="" height="100px" width="100px" #imgee>
    <img src={{imgurl}} alt="" height="100px" width="100px" #imgee>
    <img src={{imgurl}} alt="" height="100px" width="100px" #imgee>
    <img src={{imgurl}} alt="" height="100px" width="100px" #imgee>
    <img src={{imgurl}} alt="" height="100px" width="100px" #imgee>
    <img src={{imgurl}} alt="" height="100px" width="100px" #imgee>
    <img src={{imgurl}} alt="" height="100px" width="100px" #imgee>
</div>
<p>{{info}}</p>

</div>