.container{
    background-color: aqua;
    padding: 20px;
}
.box{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 10px;
} 
h1 {
    text-align: center;
    color: brown;
    }
h2{
        text-align: center;
        color: brown;
    }