<h1>{{title}}</h1>

<ul *ngFor="let n of names">
<li>Wlecome{{n}}</li>
</ul>
<table border="2px" width="50%" align="center" [cellSpacing]="0">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>CITY</th>
        <th>SALARY</th>
    </tr>
    <tbody *ngFor="let d of data ">
      <tr>
        <td>{{d.eid}}</td>
        <td>{{d.ename}}</td>
        <td>{{d.city}}</td>
        <td>{{d.salary}}</td>
      </tr>
    </tbody>
</table>

<div *ngFor="let m of myData">
    <p>{{m}}</p>
</div>
<ul *ngFor="let t of taskList">
    <li>{{t}}</li>
</ul>
