<h1>Hi I am Shalu Learning Angular</h1>
<marquee derection="right" scrollamount="10"><h2>Working...............</h2></marquee>

<h1>we are working on{{title }}</h1> 
<!-- {{}}=interpolation -->
<ul>
    <li>Fname:{{Fname}}</li>
    <li>Lname:{{Lname}}</li>
    <li>city:{{city}}</li>
</ul>
<app-login></app-login>
<app-signin></app-signin>
<app-interpolationwork></app-interpolationwork>
<app-propertybindingwork></app-propertybindingwork>
<app-eventwork></app-eventwork>
<app-formcreatwithtable></app-formcreatwithtable>
<app-conditionalwork></app-conditionalwork>
<app-fremwork></app-fremwork>
<app-employee></app-employee>
<app-multipleconditions></app-multipleconditions>
<app-ng-for></app-ng-for>
<app-todolist></app-todolist>
<app-home></app-home>
<app-about></app-about>
<app-service></app-service>
<app-contactform></app-contactform>
<app-nestedloopwork></app-nestedloopwork>
<app-ngif></app-ngif>