<div class="container">
    <div class="box">
        <div class="navbar">
            <li><img src={{imgLink}} alt="" height="100px" width="100px" #logo></li>
            <li ><a href="#">Organigation Structure</a></li>
            <li ><a href="#">Configuration</a></li>
            <li ><a href="#">Reports</a></li>
            <li ><a href="#">ETL</a></li>
            <li ><img src={{imgLink1}} alt="" height="50px" width="50px"  class='imgee1'></li>
            <li ><img src={{imgLink2}} alt="" height="45px" width="50px" class="imgee2"></li>
            <li ><img src={{imgLink3}} alt="" height="45px" width="50px" class="imgee3"></li>
        </div>
        <div class="div"> <button #btn>START</button></div>
       
       <footer>
        <h1><img src={{imgLink}} alt="" width="100px" height="100px"></h1>
        <p >copyright &copy2010-2023 Amplelogic | All Rights Reserved.</p>
       </footer>
    </div>
</div>
